/* Box Model Hack
* {
     box-sizing: border-box;
}*/

/* Clear fix hack 
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
*/

     

/******************************************
/* BASE STYLES
/*******************************************/
html {
     font-size: 1.3rem;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     background: linear-gradient(rgb(183, 252, 251), cadetblue, rgb(0, 29, 95));
     height: 110vh;   
}    

header {
     margin-bottom: 30px;
     text-align: center;
}

select {
     font-size: 1rem;
     background: cadetblue;
     border: cadetblue;
     border-radius: 4px;
     color: black;
     margin: 20px;
     height: 1.5rem;
     width: 40%;
}

/* only capitalizes text in the dropdown, not after selected,
need to capitalize in the js; if I had more time, I would capitalize the dropdown and after selected as well

option {
     text-transform: capitalize;
} */

.section-container {
     display: flex;
     flex-direction: row;
     padding-left: 10vw;
     padding-right: 10vw;
}

.column {
     flex: 1;
}

img {
     max-width: 450px;
     max-height: 400px;
}

span {
     font-weight: bold;
     text-decoration: underline;
     font-size: 1.3rem;
}

#dog-name {
     font-size: 2.5rem;
     text-decoration: none;
     color: cadetblue;
     font-style: italic;
     
     
     
     
     
}

#left-column {
     text-align: center;
}





/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
