/* Box Model Hack
* {
     box-sizing: border-box;
}*/

/* Clear fix hack 
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
*/

     

/******************************************
/* BASE STYLES
/*******************************************/
html {
     font-size: 1.3rem;
     font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
     background: linear-gradient(rgb(183, 252, 251), cadetblue, rgb(0, 29, 95));
     height: 110vh;   
}    

header {
     margin-bottom: 30px;
     text-align: center;
}

select {
     font-size: 1.1rem;
}

.section-container {
     display: flex;
     flex-direction: row;
     padding-left: 10vw;
     padding-right: 10vw;
}

.column {
     flex: 1;
}

img {
     max-width: 450px;
     max-height: 400px;
}

span {
     font-weight: bold;
     text-decoration: underline;
     font-size: 1.3rem;
}

#dog-name {
     font-size: 2rem;
     text-decoration: none;
     color: white;
     
}

#left-column {
     text-align: center;
}





/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
